@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-zinc-950 text-zinc-100 font-mono antialiased;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 rounded-full;
  }
}
